@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: monospace;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
}

thead th {
  text-align: center;
  padding: 4px 8px;
  font-weight: bold;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td, th {
  padding: 3px 5px;
  text-align: center;
  word-wrap: break-word;
  border: none;
}

table, th, td {
  border: none;
}

input[type=text], select {
  width: 100%;
  padding: 6px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

thead tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

thead tr:first-child th:last-child {
  border-top-right-radius: 5px;
}

a {
  @apply text-blue-500 hover:text-purple-500;
}